$primary: #3f34dc;
$secondary: #546b74;
$accentError: #dc3545;
$background: #c3c2ce;

:export {
  primaryBlue: $primary;
  secondaryBlue: $secondary;
  accentError: $accentError;
  background: $background;
}
